:root {
    
    /* google colors */
    --blue: #4285FA;
    --green: #34A853;
    --yellow: #FBBC04;
    --red: #EA4335;
    
    --white: #ffffff;
    --whiteOne: #f2f2f3;
    --whiteTwo: #efeff0;
    --whiteThere: #cccccc;

    --black: #000100;
    --blackOne: #424242;
    --blackTwo: #656666;
    --blackThere: #999998;


    
}
/* ---- reset ---- */
body {
    margin: 0;
    /* font: normal 75% Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
    height: 100%;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js, .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- here personalice ---- */

a:hover {
    text-decoration: none;
}

.animsition {
    position: relative;
    opacity: 1; 
    animation-fill-mode: both;
}

.logo img {
    max-width: 100%;
}
.logo h4 {
    color: var(--green);
    font-size: 50px;
    font-weight: 600;
}
.logo h4 a {
    font-size: 25px;
}
#dateWeb{ display: block; }
#dateMobile{ display: none; }


.hvh .itslogo .child {
    width: 700px;
}
/* Header right*/
#start a {
    color: var(--white);
    font-size: 16px;
}
#start a:hover {
    color: var(--blue);
}
.ds-c-btn {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: 15px;
}
.ds-c-btn:hover {
    background-color: var(--white);
    border: 2px solid var(--blue);
}

/* Header left*/
.header .topleft {
    background-color: var(--green);
}
.ds-line {
    background: var(--white);
}
.ds-line:hover {
    background: var(--green);
}
#start .absolute, .sublogo, #footer {
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

body > canvas, #body section > .section, #start .absolute, .sublogo, #footer {
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    transition: opacity 1.5s;
}
#slogan h2 {
    font-weight: 600; 
    margin: 0;
    padding: 0 6%;
    color: var(--blackTwo);
}

/* content for articles*/
.ds-work-wrapper article {
    margin-bottom: 300px;
}

.ds-work-wrapper {
    margin-top: 25px;
} 

/* picture + text for article */
.ds-work-image img {
    -webkit-box-shadow: 0px 33px 60px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 33px 60px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 33px 60px rgba(0, 0, 0, 0.15);
}
.description.ds-work-title h4 {
    color: var(--blackTwo);
    font-size: 28px;
    padding-left: 200px;
    font-weight: 40;
}
.description.ds-work-title span {
    color: var(--blue);
    font-size: 32px;
}

/* title of artilce */
.title-wrap {
    padding-top: 150px;
    padding-bottom: 100px;
}
.title-wrap .num {
    font: normal 90% Arial, Helvetica, sans-serif;
    font-size: 150px;
    font-weight: 900;
    opacity: 0.02;
    color: var(--black);
    padding-bottom: 100px;
}
h2.title {
    font-size: 55px;
    padding-bottom: 30px;
    font-weight: 730;
    color: var(--yellow);
    border-bottom: 2px solid #cecdcd;
}

#works .ds-work-title a {
    font-size: 55px;
    font-weight: 800;
    line-height: 60px;
    color: var(--green);
    -webkit-text-shadow: 0px 33px 60px rgba(0, 0, 0, 0.15);
    -moz-text-shadow: 0px 33px 60px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 33px 60px rgba(0, 0, 0, 0.15);
    -ms-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
}
#works .ds-work-title a:hover {
    text-decoration: none;
    border: none;
}

/* SPEAKERS */
.cwrapper {
    width: 95%;
}
.back .inner p {
    font-size: 17px;
    line-height: 21px;
}

.front .inner {
    line-height: 20px;
}

/* Timeline*/


.timeline {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
  .timeline .timeline-body {
    position: relative;
    background-color: var(--white);
    margin-left: 100px;
    border-radius: 0 8px 8px 0;
    padding: 5px 0;
  }
  .timeline .timeline-body:after {
    content: '';
    width: 4px;
    height: 100%;
    background-color: var(--blue);
    position: absolute;
    left: -4px;
    top: 0;
    opacity: 0.8;
  }
  .timeline .timeline-body .timeline-item {
    position: relative;
  }
  .timeline .timeline-body .timeline-item:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid var(--blue);
    background-color: var(--white);
    position: absolute;
    left: -12px;
    top: 0px;
    opacity: 0.9;
    z-index: 9;
    
  }
  .timeline .timeline-body .timeline-item .time {
    position: absolute;
    left: -90px;
    top: 4px;
    opacity: 0.7;
    color: var(--green);
    font-size: 23px;
    font-weight: 700;
  }
  .timeline .timeline-body .timeline-item .time-mobile {
    display: none;        
}
  .timeline .timeline-body .timeline-item .time:hover {
    opacity: 0.7;
  }
  .timeline .timeline-body .timeline-item .content {
    margin: 30px 40px;
    padding-bottom: 10px;
    color: var(--blackTwo);
  }
  .timeline .timeline-body .timeline-item .content p {
    margin: 5px 0px;
  }
  .timeline .timeline-body .timeline-item .content img{
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .timeline .timeline-body .timeline-item .content .title {
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 31px;
    color: var(--yellow);
  }
  .timeline .timeline-body .timeline-item .content .row {
    padding: 10px;
    border-radius: 10px;
  }

  /* Organizers */
.organizers img {
    max-width: 85%;
    filter: grayscale(1);
    margin: 0px 25px;
    transition: border-color 0.3s ease 0s;
}
.organizers h2 {
    color: #34A853;
    font-size: 31px;
    font-weight: 700;çext-shadow: rgba(0, 0, 0, 0.15) 0px 33px 60px;
    text-align: center;
}
.organizers img:hover {
    filter: none;
}
.organizers ul {
 text-align: center;   
 padding: 30px;
}
.organizers ul li {
    display: inline-block;
}


.fab, #footer a, #footer p {
    color: var(--blackTwo);
}
.fleft p {
    text-align: left;
    margin-bottom: 0px;
}
.fcenter {
    text-align: center;
}
.fright p {
    text-align: right;
    margin-bottom: 0px;
}
.social-footer {
    font-size: 23px;
}

#tickets .row img {
    width: 100%;
    max-width: 100%;
}

/* MOBILE */

  
@media only screen and (min-width: 1200px){
    .description.ds-work-title {
        bottom: 0px;
    }
}
@media only screen and (max-width: 992px){

    .logo h4 {
        font-size: 28px;
        font-weight: 400;
    }
    .logo h4 a {
        font-size: 21px;
    }
    #dateWeb{ display: none; }
    #dateMobile{ display: block;}

    #works .ds-work-title a {
        font-size: 30px;
        line-height: 21px;
        font-weight: 750;
    }
    .ds-work-title, .ds-left .ds-work-title{
        top: 55px;
    }

    .description.ds-work-title {
        top: 140px;
        max-width: 280px;
    }
    .description.ds-work-title span {
        font-size: 24px;
    }
    .description.ds-work-title h4 {
        color: var(--blackTwo);
        font-size: 21px;
        padding-left: 0px;
    }
    .title-wrap {
        padding: 80px 50px 15px 15px;
    }
    .title-wrap .num {
        font: normal 90% Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: bold;
        padding-bottom: 15px;
    }
    h2.title {
        font-size: 35px;
        padding-bottom: 15px;
        font-weight: 500;
    }
    #container-description{
        margin-bottom: 260px;
    }
    .timeline .timeline-body .timeline-item .time-mobile {
        display: block;
        opacity: 0.7;
        color: var(--green);
        font-size: 16px;
        font-weight: 650;        
    }
    .timeline .timeline-body .timeline-item .time {
        display: none;
    }
    .timeline .timeline-body {
        background-color: #ffffff;
        margin-left: 0px;
        border-radius: 0px 5px 5px 0px;
        padding: 5px 0px;
      }
      .timeline {
        width: 90%;
    }
    .timeline .timeline-body .timeline-item .content {
        margin: 30px;
    }
    .timeline .timeline-body .timeline-item .content .title {
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-size: 24px;
    }
    .timeline .timeline-body .timeline-item .content .row {
        text-align: center;
        padding: 5px;
    }
    .timeline .timeline-body .timeline-item .content img {
        max-width: 45%;
    }
    .fleft p, .fright p {
        text-align: center;
        font-size: 14px;
    }
    #tickets .row {
        margin: 5px;
    }
    .ds-work-wrapper article {
        margin-bottom: 100px;
    }
}

